<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stay Grid</title>
    <link rel="stylesheet" href="style.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <script src="script.js"></script>
    <header>
      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="logo">
        <img src="./assets//IMG_1005.jpg" alt="Nomad Lab Logo" />
      </div>
      <nav>
        <ul class="nav-icons">
          <li>
            <a href="#"><i class="fa-solid fa-person-running"></i></i><span>Activity</span></a>
            
          </li>
          <li>
            <a href="#"><i class="fas fa-laptop"></i><span>Works</span></a>
          </li>
          <li>
            <a href="#" class="active"
              ><i class="fa-solid fa-house"></i><span>Stay</span></a
            >
          </li>
          <li>
            <a href="#"><i class="fas fa-utensils"></i><span>Eat</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-users"></i><span class="horizontal-line"></span><span>Community</span></a>
          </li>
        </ul>
      </nav>
      <div class="search-profile">
        <input type="text" class="search-input" placeholder="SERCH" />
        <div class="search-icon"> <i class="fa fa-search" aria-hidden="true"></i></div>
        
        
      
        
        <button class="t-button">T</button>
      </div>
     

     
    </header>

    <div class="drawer-overlay"></div>
    <div class="drawer">
      <button class="drawer-close"><i class="fas fa-arrow-left"></i></button>
      <ul>
        <li>
          <a href="#"><i class="fas fa-mountain"></i><span>Activity</span></a>
        </li>
        <li>
          <a href="#"><i class="fas fa-briefcase"></i><span>Works</span></a>
        </li>
        <li>
          <a href="#" class="active"
            ><i class="fas fa-bed"></i><span>Stay</span></a
          >
        </li>
        <li>
          <a href="#"><i class="fas fa-utensils"></i><span>Eat</span></a>
        </li>
        <li>
          <a href="#"><i class="fas fa-users"></i><span>Community</span></a>
        </li>
      </ul>
    </div>

    <section class="stay-section section1" data-background-letter="S" >
      <div class="stay-description">
        <div class="wrapper">
          <div class="box div2">
            <h1 class="stay-header">STAY</h1>
            <p class="sub-title">特別な体験ができるエリアの近くで</p>
            <p class="sub-title">有意義な時間を過ごせる宿泊先を見つけよう。</p>
          </div>
          <div class="box div3">
            <a href="#" class="view-all-button">View All ></a>
          </div>
        </div>
      </div>

      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             
              <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>
            </div>
              <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出 雲 崎</p>
          </div>
 

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>
              
            </div>
            <p class="head"> <span class="vertical-line">|</span> SOUQ越 後 湯 沢</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

            
            </div>
         
            <p class="head"> <span class="vertical-line">|</span> 和島トゥー・ル・モンドキャンプ場</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の大きさ、<span class="b-text">量、字間、行</span></p>
           
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の</p>
         
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の<br />
              この文章はダミーです。文字の大きさ</p>
          
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>

          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
           
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>
          </div>

          <!-- More items can be added here -->
        </div>
      </div>
    </section>
    <section class="globe-div">
      <button class="globe-button">
       <span class="globe-text"> 地図から探す</span>
         <img src="./assets/world.jpg"  class="world"  />
     </button>
    </section>
   

    
    <div class="tags-container" style="margin-top: 120px !important;">
      <div class="tags-label">
        <span>TAGS</span>
      </div>
      <div class="tags-list">
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        
        <a href="#">#コミュニティのあるゲストハウス</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
      </div>
    </div>

    <section class="stay-section section2" data-background-letter="W">
      <div class="stay-description">

        <div class="wrapper">
          <div class="box div2">
            <h1 class="stay-header">WORKS</h1>
            <p class="sub-title">快適に仕事が出来る場所、 想像を超える場所で働こう</p>
         
          </div>
          <div class="box div3">
            <a href="#" class="view-all-button">View All ></a>
          </div>
        </div>

       
      </div>

      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             
              <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>
            </div>
              <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出 雲 崎</p>
          </div>


          

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>
              
            </div>
            <p class="head"> <span class="vertical-line">|</span> SOUQ越 後 湯 沢</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

            
            </div>
         
            <p class="head"> <span class="vertical-line">|</span> 和島トゥー・ル・モンドキャンプ場</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の大きさ、 量、字間、行</p>
           
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の</p>
         
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の<br />
              この文章はダミーです。文字の大きさ</p>
          
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>

          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
           
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>
          </div>

          <!-- More items can be added here -->
        </div>
      </div>
    </section>

    <!-- <div class="tags-container">
      <div class="tags-label">
        <span class="tag-text">TAGS</span>
      </div>
      <div class="tags-list">
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
      </div>
    </div> -->

    <div class="right-tags-container">
      <div class="right-tags-list">
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
      </div>
      <div class="right-tags-label">
        <span>TAGS</span>
      </div>
    </div>

    <section class="stay-section section3" data-background-letter="E">
      <div class="stay-description">

        <div class="wrapper">
          <div class="box div2">
            <h1 class="stay-header">EAT</h1>
            <p class="sub-title">
              快適に仕事が出来る場所、 想像を超える場所で働こう</p>
       
          </div>
          <div class="box div3">
            <a href="#" class="view-all-button">View All ></a>
          </div>
        </div>
      
      
      </div>

      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             
              <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>
            </div>
              <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出 雲 崎</p>
          </div>


          

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>
              
            </div>
            <p class="head"> <span class="vertical-line">|</span> SOUQ越 後 湯 沢</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

            
            </div>
         
            <p class="head"> <span class="vertical-line">|</span> 和島トゥー・ル・モンドキャンプ場</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の大きさ、 量、字間、行</p>
           
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の</p>
         
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の<br />
              この文章はダミーです。文字の大きさ</p>
          
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>

          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
           
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>
          </div>

          <!-- More items can be added here -->
        </div>
      </div>
    </section>

    <div class="tags-container">
      <div class="tags-label">
        <span>TAGS</span>
      </div>
      <div class="tags-list">
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
      </div>
    </div>

    <section class="stay-section section4" data-background-letter="A">
      <div class="stay-description">

        <div class="wrapper">
          <div class="box div2">
            <h1 class="stay-header">ACTIVITY</h1>
            <p class="sub-title">
              快適に仕事が出来る場所、 想像を超える場所で働こう</p>
          </div>
          <div class="box div3">
            <a href="#" class="view-all-button">View All ></a>
          </div>
        </div>
   
       
      </div>

      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">| FREE ART FIELD出雲崎</p>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">| SOUQ越後湯沢</p>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">| 和島トゥー・ル・モンドキャンプ場</p>
          </div>

          <div class="stay-item">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">
              | この文章はダミーです。文字の大きさ、 量、字間、行
            </p>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">| この文章はダミーです。文字の</p>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">
              | この文章はダミーです。文字の<br />
              この文章はダミーです。文字の大きさ
            </p>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">| FREE ART FIELD出雲崎</p>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p  class="head">| FREE ART FIELD出雲崎</p>
          </div>

          <!-- More items can be added here -->
        </div>
      </div>
    </section>
 
    <div class="right-tags-container">
      <div class="right-tags-list">
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
      </div>
      <div class="right-tags-label">
        <span>TAGS</span>
      </div>
    </div>

    

    <section class="stay-section section5" data-background-letter="C">
      <div class="stay-description">

        <div class="wrapper">
          <div class="box div2">
            <h1 class="stay-header">COMMUNITY</h1>
            <p class="sub-title">
              快適に仕事が出来る場所、 想像を超える場所で働こう</p>
          </div>
          <div class="box div3">
            <a href="#" class="view-all-button">View All ></a>
          </div>
        </div>
      
        
      </div>

      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             
              <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>
            </div>
              <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出 雲 崎</p>
          </div>


          

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>
              
            </div>
            <p class="head"> <span class="vertical-line">|</span> SOUQ越 後 湯 沢</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

            
            </div>
         
            <p class="head"> <span class="vertical-line">|</span> 和島トゥー・ル・モンドキャンプ場</p>
          </div>

          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の大きさ、 量、字間、行</p>
           
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>

            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の</p>
         
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <p class="head"> <span class="vertical-line">|</span> この文章はダミーです。文字の<br />
              この文章はダミーです。文字の大きさ</p>
          
          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>

          </div>
          <div class="stay-item" onclick="window.location.href='single-page.html'">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
             <i class="fa-regular fa-bookmark" style="font-size: 14px"></i>
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
           
            <p class="head"> <span class="vertical-line">|</span> FREE ART FIELD出雲崎</p>
          </div>

          <!-- More items can be added here -->
        </div>
      </div>
    </section>
    <div class="tags-container">
      <div class="tags-label">
        <span>TAGS</span>
      </div>
      <div class="tags-list">
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#長期滞在</a>
        <a href="#">#一棟貸し</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
        <a href="#">#コミュニティのあるゲストハウス</a>
      </div>
    </div>

    <footer class="footer">
      <img src="nomad-lab-logo.png" alt="Nomad Lab" class="logo" />
      <div class="footer-text">
        COMMUNITY<br />
        PROJECT<br />
        EVENT
      </div>
      <div class="footer-text">地図から探す</div>
      <img src="globe-icon.svg" alt="Globe Icon" class="globe-icon" />
      <div class="footer-text">SUUU</div>
      <div class="copyright">Copyright © Qetic inc. All Rights Reserved.</div>
    </footer>

    <script>
      const hamburgerMenu = document.querySelector(".hamburger-menu");
      const drawer = document.querySelector(".drawer");
      const drawerOverlay = document.querySelector(".drawer-overlay");
      const drawerClose = document.querySelector(".drawer-close");

      function toggleDrawer() {
        drawer.classList.toggle("open");
        drawerOverlay.style.display = drawer.classList.contains("open")
          ? "block"
          : "none";
      }

      hamburgerMenu.addEventListener("click", toggleDrawer);
      drawerOverlay.addEventListener("click", toggleDrawer);
      drawerClose.addEventListener("click", toggleDrawer);
    </script>
  </body>
</html>
