<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stay Grid</title>
    <link rel="stylesheet" href="style.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="logo.png" alt="Nomad Lab Logo" />
      </div>
      <nav>
        <ul class="nav-icons">
          <li><a href="#"><i class="fas fa-mountain"></i><span>Activity</span></a></li>
          <li><a href="#"><i class="fas fa-briefcase"></i><span>Works</span></a></li>
          <li><a href="#" class="active"><i class="fas fa-bed"></i><span>Stay</span></a></li>
          <li><a href="#"><i class="fas fa-utensils"></i><span>Eat</span></a></li>
          <li><a href="#"><i class="fas fa-users"></i><span>Community</span></a></li>
        </ul>
      </nav>
      <div class="search-profile">
        <input type="text" placeholder="Search" />
        <div class="profile-icon">T</div>
      </div>
    </header>

    <section class="stay-section">
      <div class="stay-description">
        <h1 class="stay-header">STAY</h1>
        <p class="sub-title">特別な体験ができるエリアの近くで</p>
          <p class="sub-title">有意義な時間を過ごせる宿泊先を見つけよう。</p>
      </div>
      
      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| FREE ART FIELD出雲崎</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <!-- More items can be added here -->
        </div>
        <div class="tags-container">
          <div class="tags-label">
            <span>TAGS</span>
          </div>
          <div class="tags-list">
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#コミュニティのあるゲストハウス</a>
          </div>
        </div>
        
      </div>
    </section>
    
    <section class="stay-section">
      <div class="stay-description">
        <h1 class="stay-header">WORKS</h1>
        <p class="sub-title">特別な体験ができるエリアの近くで</p>
          <p class="sub-title">有意義な時間を過ごせる宿泊先を見つけよう。</p>
      </div>
      
      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| FREE ART FIELD出雲崎</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <!-- More items can be added here -->
        </div>
        <div class="tags-container">
          <div class="tags-label">
            <span>TAGS</span>
          </div>
          <div class="tags-list">
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#コミュニティのあるゲストハウス</a>
          </div>
        </div>
        
      </div>
    </section>
    
    <section class="stay-section">
      <div class="stay-description">
        <h1 class="stay-header">EAT</h1>
        <p class="sub-title">特別な体験ができるエリアの近くで</p>
          <p class="sub-title">有意義な時間を過ごせる宿泊先を見つけよう。</p>
      </div>
      
      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| FREE ART FIELD出雲崎</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <!-- More items can be added here -->
        </div>
        <div class="tags-container">
          <div class="tags-label">
            <span>TAGS</span>
          </div>
          <div class="tags-list">
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#コミュニティのあるゲストハウス</a>
          </div>
        </div>
        
      </div>
    </section>
    
    <section class="stay-section">
      <div class="stay-description">
        <h1 class="stay-header">ACTIVITY</h1>
        <p class="sub-title">特別な体験ができるエリアの近くで</p>
          <p class="sub-title">有意義な時間を過ごせる宿泊先を見つけよう。</p>
      </div>
      
      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| FREE ART FIELD出雲崎</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <!-- More items can be added here -->
        </div>
        <div class="tags-container">
          <div class="tags-label">
            <span>TAGS</span>
          </div>
          <div class="tags-list">
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#コミュニティのあるゲストハウス</a>
          </div>
        </div>
        
      </div>
    </section>
    <section class="stay-section">
      <div class="stay-description">
        <h1 class="stay-header">COMMUNITY</h1>
        <p class="sub-title">特別な体験ができるエリアの近くで</p>
          <p class="sub-title">有意義な時間を過ごせる宿泊先を見つけよう。</p>
      </div>
      
      <div class="stay-container">
        <div class="stay-grid">
          <div class="stay-item">
            <img src="./assets/IMG_1003.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県出雲崎町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| FREE ART FIELD出雲崎</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_1005.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/IMG_0335.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <div class="stay-item">
            <img src="./assets/PXL_20230527_104141914.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230829_043447263.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/PXL_20230827_102740166.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377256407.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>
          <div class="stay-item">
            <img src="./assets/1689377257154.jpg" alt="Stay 1" />
            <div class="bookmark-icon-container">
              <i class="material-icons bookmark-icon" style="font-size: 24px"
                >bookmark</i
              >
            </div>
            <div class="details">
              <p class="view">新潟県湯沢町</p>
              <p class="view">View Details</p>

              <!-- <a href="#" class="view-details">View Details</a> -->
            </div>
            <h2 class="head">| SOUQ越後湯沢</h2>
          </div>

          <!-- More items can be added here -->
        </div>
        <div class="tags-container">
          <div class="tags-label">
            <span>TAGS</span>
          </div>
          <div class="tags-list">
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#長期滞在</a>
            <a href="#">#一棟貸し</a>
            <a href="#">#コミュニティのあるゲストハウス</a>
          </div>
        </div>
        
      </div>
    </section>


    <footer class="footer">
      <img src="nomad-lab-logo.png" alt="Nomad Lab" class="logo">
      <div class="footer-text">
          COMMUNITY<br>
          PROJECT<br>
          EVENT
      </div>
      <div class="footer-text">
          地図から探す
      </div>
      <img src="globe-icon.svg" alt="Globe Icon" class="globe-icon">
      <div class="footer-text">
          SUUU
      </div>
      <div class="copyright">
          Copyright © Qetic inc. All Rights Reserved.
      </div>
  </footer>
  </body>
</html>
